
.jumbotron {  
    float: bottom;
    
}

.jumbotron section{  
    display: block;
  width: 900px;
  height: 500px;
  background: lightgray;
    
}

.jumbotron .texte{  
     width: auto;
}

.jumbotron .imageprésentation{
    display: flex;
    float: left;
}

.jumbotron .btn {
    background-color:dodgerblue;
    Color:white;
    
}

.jumbotron .space{
    margin-left: 135px;
}


